body {
    background:  #FFC0CB;
    margin-top: 50px;
    font-family: 'Lato';
}


.item.completed {
    background-color: #ddd;
    opacity: 0.6;
}


.item {
    background-color: grey;
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 1em #ccc;
    transition: all 0.2s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 1em #aaa;
}

.item:active {
    background-color: #008000; /* Light pink when clicked */
}

.toggles {
    color: black;
}

.remove {
    padding-left: 0;
}

button:focus {
    border: 1px solid #333;
}
button:focus,
button:hover {
    border: 1px solid #333;
    background-color: #FF69B4; /* Pink background on hover/focus */
    color: white; /* Change text color for better contrast */
}


button {
    background: linear-gradient(to bottom, #FF69B4, #FFC0CB);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
.name {
    padding-top: 3px;
    font-size: 18px; /* Increase font size for the item name */
}
.header {
    background-color: rgba(255, 192, 203, 0.7);
    text-align: center;
    padding: 20px;
}
